<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>Bumbler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>

	<nav class="top-navigation";>
		<a href="/"><img src="<%= asset_path('logo.png') %>" style="margin-top:0; margin-left:50px; float:left; width:122px; height:130px; background-color: rgba(88,0,0,.4);"/></a>
		<div id="profile">
		<% if current_user %>
		<p>Hello <%= current_user.name %>
		<%= link_to 'Sign out', logout_path, method: :delete %>
		<%= link_to 'Profile', user_path(current_user) %>
		<%= link_to 'New Bumble', new_post_path %>
		</p>
		<div>
		<% else %>
		<%= form_tag(signin_path, method: :post) do %>
		<%= label_tag :email %>
		<%= email_field_tag :email %>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
		<%= submit_tag "Login" %>

		<% end %>
	
	
		<a class="pulse" href="/users/new"><i style="
    		margin-left: 80px; font-size:40px;
			">Sign up!</i></a>
		<% end %> 

	</nav>
	<div>
		<%= render 'shared/login' %>
	</div>
</header>
<%= yield %>

</body>
</html>
