<div class="indexbody" >
	<div class="slideDown">
		<h1 class="pulse"><i><u>New Bumbles!</i></u></h1>
		<div class="perPost">
			<% @posts.each do |x| %>
			<p><%= 'Title: ' + x.title %><br>
				<%= 'By: ' + x.user.name %>
			<br><br>
			<%= 'Bumble: ' +  x.body %></p>
			<%= form_tag(new_post_comment_path, method: :post) do %>
			<%= label_tag :comment %>
			<%= text_field_tag :comment %>
			<%= submit_tag "Add comment" %>
			<% end %>
			<% end %>
			</div>
	</div>

</div>
