<div class="indexbody" >
	<div class="slideDown">
		<h1 class="pulse"><i><u>New Bumbles!</i></u></h1>
		<div class="perPost">
			<% Post.last(10).reverse.each do |x| %>
			<p><%= 'Title: ' + x.title %><br>
				<%= 'By: ' + x.user.name %>
			<br><br>
			<%= 'Bumble: ' +  x.body %></p><br>
				<%= Comment.last(10).reverse.each do |y| %>
				<%= y.title, y.body %>
				<% end %>
			<% end %>
		</div>
	</div>

</div>